<h1 mat-dialog-title>Write a Review</h1>
<div mat-dialog-content>
  <!-- <mat-form-field> -->
    
    <form class="container mb-3">
        <div class="row">
            <div class="input-group mb-3" >
                <!-- <label for="title">Title</label> -->
                <input id="title" name="title" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" [(ngModel)]="data.title">
            </div>
            
            <div class="input-group mb-3">
                <textarea type="textbox" name="Comments" class="form-control" placeholder="Comments" aria-label="Comments" aria-describedby="basic-addon1" [(ngModel)]="data.text"></textarea>
            </div> 
        </div>  
        <label>Ratings</label>
        
            <!-- <label>Hard of Hearing or Deaf</label> -->
            <div class="row mt-3 justify-content-between">
                <div class="btn btn-outline-secondary" (click)="show('hear')">
                <div class="col">Hard of Hearing or Deaf</div>
                <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                  </svg></div>
                </div>
            </div>
            <div *ngIf="hear" class="container">

                <label>Subtitles</label>
                <div class="col mt-2" id="Subtitles">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="1" name="Subtitles" value="-1" [(ngModel)]="data.feature_ratings[0].rating">
                            <label class="form-check-label" for="1">NA</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="2" name="Subtitles" value="0" [(ngModel)]="data.feature_ratings[0].rating">
                            <label class="form-check-label" for="2">Worst</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="3" name="Subtitles" value="1" [(ngModel)]="data.feature_ratings[0].rating">
                            <label class="form-check-label" for="3">Bad</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="4" name="Subtitles" value="2" [(ngModel)]="data.feature_ratings[0].rating">
                            <label class="form-check-label" for="4">Okay</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="5" name="Subtitles" value="3" [(ngModel)]="data.feature_ratings[0].rating">
                            <label class="form-check-label" for="5">Good</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="6" name="Subtitles" value="4" [(ngModel)]="data.feature_ratings[0].rating">
                            <label class="form-check-label" for="6">Best</label>
                        </div>
                </div>

                <label>Directional Indicators for Subtitles</label>
                <div class="col mt-2" id="Directional Indicators for Subtitles">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="7" name="Directional Indicators for Subtitles" value="-1" [(ngModel)]="data.feature_ratings[1].rating">
                        <label class="form-check-label" for="7">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="8" name="Directional Indicators for Subtitles" value="0" [(ngModel)]="data.feature_ratings[1].rating">
                        <label class="form-check-label" for="8">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="9" name="Directional Indicators for Subtitles" value="1" [(ngModel)]="data.feature_ratings[1].rating">
                        <label class="form-check-label" for="9">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="10" name="Directional Indicators for Subtitles" value="2" [(ngModel)]="data.feature_ratings[1].rating">
                        <label class="form-check-label" for="10">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="11" name="Directional Indicators for Subtitles" value="3" [(ngModel)]="data.feature_ratings[1].rating">
                        <label class="form-check-label" for="11">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="12" name="Directional Indicators for Subtitles" value="4" [(ngModel)]="data.feature_ratings[1].rating">
                        <label class="form-check-label" for="12">Best</label>
                    </div>
                </div>

                <label>Changing font and size</label>
                <div class="col mt-2" id="Changing Font and Size">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="13" name="Changing Font and Size" value="-1" [(ngModel)]="data.feature_ratings[2].rating">
                        <label class="form-check-label" for="13">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="13" name="Changing Font and Size" value="0" [(ngModel)]="data.feature_ratings[2].rating">
                        <label class="form-check-label" for="13">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="14" name="Changing Font and Size" value="1" [(ngModel)]="data.feature_ratings[2].rating">
                        <label class="form-check-label" for="14">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="15" name="Changing Font and Size" value="2" [(ngModel)]="data.feature_ratings[2].rating">
                        <label class="form-check-label" for="15">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="16" name="Changing Font and Size" value="3" [(ngModel)]="data.feature_ratings[2].rating">
                        <label class="form-check-label" for="16">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="17" name="Changing Font and Size" value="4" [(ngModel)]="data.feature_ratings[2].rating">
                        <label class="form-check-label" for="17">Best</label>
                    </div>
                </div>
            </div>

            <label>Vision Impairment</label>
            <div class="container">

                <label>Color Contrasts</label>
                <div class="col mt-2" id="Color contrasts">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="18" name="Color contrasts" value="-1" [(ngModel)]="data.feature_ratings[3].rating">
                        <label class="form-check-label" for="18">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="19" name="Color contrasts" value="0" [(ngModel)]="data.feature_ratings[3].rating">
                        <label class="form-check-label" for="19">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="20" name="Color contrasts" value="1" [(ngModel)]="data.feature_ratings[3].rating">
                        <label class="form-check-label" for="20">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="21" name="Color contrasts" value="2" [(ngModel)]="data.feature_ratings[3].rating">
                        <label class="form-check-label" for="21">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="22" name="Color contrasts" value="3" [(ngModel)]="data.feature_ratings[3].rating">
                        <label class="form-check-label" for="22">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="23" name="Color contrasts" value="4" [(ngModel)]="data.feature_ratings[3].rating">
                        <label class="form-check-label" for="23">Best</label>
                    </div>
                </div>
            
                <label>Color Blind Modes</label>
                <div class="col mt-2" id="Color Blind Modes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="24" name="Color Blind Modes" value="-1" [(ngModel)]="data.feature_ratings[4].rating">
                        <label class="form-check-label" for="24">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="25" name="Color Blind Modes" value="0" [(ngModel)]="data.feature_ratings[4].rating">
                        <label class="form-check-label" for="25">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="26" name="Color Blind Modes" value="1" [(ngModel)]="data.feature_ratings[4].rating">
                        <label class="form-check-label" for="26">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="27" name="Color Blind Modes" value="2" [(ngModel)]="data.feature_ratings[4].rating">
                        <label class="form-check-label" for="27">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="28" name="Color Blind Modes" value="3" [(ngModel)]="data.feature_ratings[4].rating">
                        <label class="form-check-label" for="28">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="29" name="Color Blind Modes" value="4" [(ngModel)]="data.feature_ratings[4].rating">
                        <label class="form-check-label" for="29">Best</label>
                    </div>
                </div>

                <label>Partially sighted filters</label>
                <div class="col mt-2" id="Partially sighted filters">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="30" name="Partially sighted filters" value="-1" [(ngModel)]="data.feature_ratings[5].rating">
                        <label class="form-check-label" for="30">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="31" name="Partially sighted filters" value="0" [(ngModel)]="data.feature_ratings[5].rating">
                        <label class="form-check-label" for="31">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="32" name="Partially sighted filters" value="1" [(ngModel)]="data.feature_ratings[5].rating">
                        <label class="form-check-label" for="32">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="33" name="Partially sighted filters" value="2" [(ngModel)]="data.feature_ratings[5].rating">
                        <label class="form-check-label" for="33">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="34" name="Partially sighted filters" value="3" [(ngModel)]="data.feature_ratings[5].rating">
                        <label class="form-check-label" for="34">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="35" name="Partially sighted filters" value="4" [(ngModel)]="data.feature_ratings[5].rating">
                        <label class="form-check-label" for="35">Best</label>
                    </div>
                </div>

                <label>Text-to-Speech</label>
                <div class="col mt-2" id="Text-to-Speech">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="36" name="Text-to-Speech" value="-1" [(ngModel)]="data.feature_ratings[6].rating">
                        <label class="form-check-label" for="36">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="37" name="Text-to-Speech" value="0" [(ngModel)]="data.feature_ratings[6].rating">
                        <label class="form-check-label" for="37">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="38" name="Text-to-Speech" value="1" [(ngModel)]="data.feature_ratings[6].rating">
                        <label class="form-check-label" for="38">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="39" name="Text-to-Speech" value="2" [(ngModel)]="data.feature_ratings[6].rating">
                        <label class="form-check-label" for="39">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="40" name="Text-to-Speech" value="3" [(ngModel)]="data.feature_ratings[6].rating">
                        <label class="form-check-label" for="40">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="41" name="Text-to-Speech" value="4" [(ngModel)]="data.feature_ratings[6].rating">
                        <label class="form-check-label" for="41">Best</label>
                    </div>
                </div>
            
            </div>


            <label>Motor Disability"</label>

            <div *ngIf="motor" class="container">
                <label>Remapping controls</label>
                <div class="col mt-2" id="Remapping controls">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="42" name="Remapping controls" value="-1" [(ngModel)]="data.feature_ratings[7].rating">
                        <label class="form-check-label" for="42">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="43" name="Remapping controls" value="0" [(ngModel)]="data.feature_ratings[7].rating">
                        <label class="form-check-label" for="43">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="44" name="Remapping controls" value="1" [(ngModel)]="data.feature_ratings[7].rating">
                        <label class="form-check-label" for="44">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="45" name="Remapping controls" value="2" [(ngModel)]="data.feature_ratings[7].rating">
                        <label class="form-check-label" for="45">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="46" name="Remapping controls" value="3" [(ngModel)]="data.feature_ratings[7].rating">
                        <label class="form-check-label" for="46">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="47" name="Remapping controls" value="4" [(ngModel)]="data.feature_ratings[7].rating">
                        <label class="form-check-label" for="47">Best</label>
                    </div>
                </div>

                <label>One-handed controls</label>
                <div class="col mt-2" id="One-handed controls">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="48" name="One-handed controls" value="-1" [(ngModel)]="data.feature_ratings[8].rating">
                        <label class="form-check-label" for="48">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="49" name="One-handed controls" value="0" [(ngModel)]="data.feature_ratings[8].rating">
                        <label class="form-check-label" for="49">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="50" name="One-handed controls" value="1" [(ngModel)]="data.feature_ratings[8].rating">
                        <label class="form-check-label" for="50">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="51" name="One-handed controls" value="2" [(ngModel)]="data.feature_ratings[8].rating">
                        <label class="form-check-label" for="51">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="52" name="One-handed controls" value="3" [(ngModel)]="data.feature_ratings[8].rating">
                        <label class="form-check-label" for="52">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="53" name="One-handed controls" value="4" [(ngModel)]="data.feature_ratings[8].rating">
                        <label class="form-check-label" for="53">Best</label>
                    </div>
                </div>

                <label>Alternative Grip Solutions</label>
                <div class="col mt-2" id="Alternative Grip Solutions">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="54" name="Alternative Grip Solutions" value="-1" [(ngModel)]="data.feature_ratings[9].rating">
                        <label class="form-check-label" for="54">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="55" name="Alternative Grip Solutions" value="0" [(ngModel)]="data.feature_ratings[9].rating">
                        <label class="form-check-label" for="55">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="56" name="Alternative Grip Solutions" value="1" [(ngModel)]="data.feature_ratings[9].rating">
                        <label class="form-check-label" for="56">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="57" name="Alternative Grip Solutions" value="2" [(ngModel)]="data.feature_ratings[9].rating">
                        <label class="form-check-label" for="57">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="58" name="Alternative Grip Solutions" value="3" [(ngModel)]="data.feature_ratings[9].rating">
                        <label class="form-check-label" for="58">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="59" name="Alternative Grip Solutions" value="4" [(ngModel)]="data.feature_ratings[9].rating">
                        <label class="form-check-label" for="59">Best</label>
                    </div>
                </div>

                <label>Adaptive Controller</label>
                <div class="col mt-2" id="Adaptive Controller">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="60" name="Adaptive Controller" value="-1" [(ngModel)]="data.feature_ratings[10].rating">
                        <label class="form-check-label" for="60">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="61" name="Adaptive Controller" value="0" [(ngModel)]="data.feature_ratings[10].rating">
                        <label class="form-check-label" for="61">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="62" name="Adaptive Controller" value="1" [(ngModel)]="data.feature_ratings[10].rating">
                        <label class="form-check-label" for="62">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="63" name="Adaptive Controller" value="2" [(ngModel)]="data.feature_ratings[10].rating">
                        <label class="form-check-label" for="63">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="64" name="Adaptive Controller" value="3" [(ngModel)]="data.feature_ratings[10].rating">
                        <label class="form-check-label" for="64">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="65" name="Adaptive Controller" value="4" [(ngModel)]="data.feature_ratings[10].rating">
                        <label class="form-check-label" for="65">Best</label>
                    </div>
                </div>

                <label>Various game speeds</label>
                <div class="col mt-2" id="Various game speeds">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="66" name="Various game speeds" value="-1" [(ngModel)]="data.feature_ratings[11].rating">
                        <label class="form-check-label" for="66">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="67" name="Various game speeds" value="0" [(ngModel)]="data.feature_ratings[11].rating">
                        <label class="form-check-label" for="67">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="68" name="Various game speeds" value="1" [(ngModel)]="data.feature_ratings[11].rating">
                        <label class="form-check-label" for="68">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="69" name="Various game speeds" value="2" [(ngModel)]="data.feature_ratings[11].rating">
                        <label class="form-check-label" for="69">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="70" name="Various game speeds" value="3" [(ngModel)]="data.feature_ratings[11].rating">
                        <label class="form-check-label" for="70">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="71" name="Various game speeds" value="4" [(ngModel)]="data.feature_ratings[11].rating">
                        <label class="form-check-label" for="71">Best</label>
                    </div>
                </div>

                <label>Dynamic skill difficulty</label>
                <div class="col mt-2" id="Dynamic skill difficulty">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="72" name="Dynamic skill difficulty" value="-1" [(ngModel)]="data.feature_ratings[12].rating">
                        <label class="form-check-label" for="72">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="73" name="Dynamic skill difficulty" value="0" [(ngModel)]="data.feature_ratings[12].rating">
                        <label class="form-check-label" for="73">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="74" name="Dynamic skill difficulty" value="1" [(ngModel)]="data.feature_ratings[12].rating">
                        <label class="form-check-label" for="74">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="75" name="Dynamic skill difficulty" value="2" [(ngModel)]="data.feature_ratings[12].rating">
                        <label class="form-check-label" for="75">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="76" name="Dynamic skill difficulty" value="3" [(ngModel)]="data.feature_ratings[12].rating">
                        <label class="form-check-label" for="76">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="77" name="Dynamic skill difficulty" value="4" [(ngModel)]="data.feature_ratings[12].rating">
                        <label class="form-check-label" for="77">Best</label>
                    </div>
                </div>

                <label>Content warnings</label>
                <div class="col mt-2" id="Content warnings">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="78" name="Content warnings" value="-1" [(ngModel)]="data.feature_ratings[13].rating">
                        <label class="form-check-label" for="78">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="79" name="Content warnings" value="0" [(ngModel)]="data.feature_ratings[13].rating">
                        <label class="form-check-label" for="79">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="80" name="Content warnings" value="1" [(ngModel)]="data.feature_ratings[13].rating">
                        <label class="form-check-label" for="81">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="82" name="Content warnings" value="2" [(ngModel)]="data.feature_ratings[13].rating">
                        <label class="form-check-label" for="83">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="84" name="Content warnings" value="3" [(ngModel)]="data.feature_ratings[13].rating">
                        <label class="form-check-label" for="84">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="85" name="Content warnings" value="4" [(ngModel)]="data.feature_ratings[13].rating">
                        <label class="form-check-label" for="85">Best</label>
                    </div>
                </div>

                <label>Skip triggering scenes</label>
                <div class="col mt-2" id="Skip triggering scenes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="86" name="Skip triggering scenes" value="-1" [(ngModel)]="data.feature_ratings[14].rating">
                        <label class="form-check-label" for="86">NA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="87" name="Skip triggering scenes" value="0" [(ngModel)]="data.feature_ratings[14].rating">
                        <label class="form-check-label" for="87">Worst</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="88" name="Skip triggering scenes" value="1" [(ngModel)]="data.feature_ratings[14].rating">
                        <label class="form-check-label" for="88">Bad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="89" name="Skip triggering scenes" value="2" [(ngModel)]="data.feature_ratings[14].rating">
                        <label class="form-check-label" for="89">Okay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="90" name="Skip triggering scenes" value="3" [(ngModel)]="data.feature_ratings[14].rating">
                        <label class="form-check-label" for="90">Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="91" name="Skip triggering scenes" value="4" [(ngModel)]="data.feature_ratings[14].rating">
                        <label class="form-check-label" for="91">Best</label>
                    </div>
                </div>

            </div>
        

    </form>
  <!-- </mat-form-field> -->
</div>
<div mat-dialog-actions class="justify-content-between">
  <button class="btn btn-outline-danger" (click)="onNoClick()">Cancel</button>
  <button class="btn btn-outline-success" [mat-dialog-close]=data cdkFocusInitial>Post</button>
</div>
