<div class="album py-5 bg-light">
    <div class="container mt-5 mb-5" >
      <div class="row row-cols-1 row-cols-sm-2 g-3">
    <div *ngFor="let review of reviews">
            <div class="card shadow-sm mt-3">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-sm-8 text-left">
                            {{review.title}}
                        </div>
                        <div class="col-sm-4 text-end text-muted">
                            {{review.date_created}}
                        </div>
                    </div>
                    <div class="row-flex text-muted">
                        {{review.username}}
                    </div>
                    <div class="container">
                        <div class="row mt-3 mb-3 justify-content-between">
                            <div class="col-sm-8">
                                {{review.text}}
                            </div>
                            <div class="col-sm-4">
                                <div *ngFor="let feat of review.feature_ratings">
                                    <div class="container align-content-left">
                                        <div class="row justify-content-left">
                                            <div class="col-sm-8 text-left">
                                                {{feat.name}}
                                            </div>
                                            <div class="col-sm-4 text-end">
                                                {{feat.rating}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>  
        </div>
    </div>  
</div>
</div>
</div>
