<section class="py-5 text-center text-wrap container">
    <h2 class="text-muted">About the Project</h2>

    <p>The idea behind this website was to produce a site where users of differing abilities could rate video games based on their accessability features.</p>
    <p>By splitting reviws into different categories user will be able to quickly identify id a game would be accomedating to their needs.</p>
  </section>




  <section class="py-5 text-center container">
    <h2 class="text-muted">Tech Specs</h2>

    <p>PlayMore was developed in under 24 hours for hackUMBC 2023. We utilized several frameworks such as Angular and Firestore and apis such as RAWG. </p>
  </section>





<section class="py-5 text-center container">
    <h2 class="text-muted">Meet the Devs</h2>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

  <div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

      <div class="card-body">
        <p class="card-text">Rachel Chambers</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="https://github.com/r-chambers" type="button" class="btn btn-sm btn-outline-secondary">Github</a>
            <a href="https://www.linkedin.com/in/rachel-chambers-7a8670159/" type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</a>
          </div>
          <!-- <small class="text-muted">9 mins</small> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

      <div class="card-body">
        <p class="card-text">Naomi Tack</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="https://github.com/ntackyt" type="button" class="btn btn-sm btn-outline-secondary">Github</a>
            <a href="https://www.linkedin.com/in/naomi-tack-8a941423b/" type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</a>
          </div>
          <!-- <small class="text-muted">9 mins</small> -->
        </div>
      </div>
    </div>
  </div>
</div>
    </div></div>