<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-flex">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{game.name}}</h5>
                    <!-- <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div> -->
                    <p class="text-justify text-wrap para mb-0">{{game.summary}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Overall Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.overall}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Hard of Hearing Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.hard_of_hearing}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Vision Impairment Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.vision_impairment}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Motor Disability Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.motor_disability}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Misc Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.misc}}
                        </div>
                    </div>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm" type="button">Leave Review</button>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="container-fluid">

    <div>
        
    </div>


</div>
            