<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-flex">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"> 
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src="{{game.background_image}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title> 
                </div>
                <div class="col-md-6 mt-1">
                    <h5>{{game.name}}</h5>
                    <!-- <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div> -->
                    <p class="text-justify text-wrap para mb-0">{{game.description_raw}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Overall Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.overall}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Hard of Hearing Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.hard_of_hearing}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Vision Impairment Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.vision_impairment}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Motor Disability Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.motor_disability}}
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col-flex">
                            Misc Score: 
                        </div>
                        <div class="col-4 align-content-right">
                            {{this.score.misc}}
                        </div>
                    </div>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm" type="button" (click)="openLeaveReview(game.name)">Leave Review</button>
                </div>
            </div>
        </div>  
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container mt-5 mb-5" >
      <div class="row row-cols-1 row-cols-sm-2 g-3">
    <div *ngFor="let review of reviews">
            <div class="card shadow-sm mt-3">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-sm-8 text-left">
                            {{review.title}}
                        </div>
                        <div class="col-sm-4 text-end text-muted">
                            {{review.date_created}}
                        </div>
                    </div>
                    <div class="row-flex text-muted">
                        {{review.username}}
                    </div>
                    <div class="container">
                        <div class="row mt-3 mb-3 justify-content-between">
                            <div class="col-sm-8">
                                {{review.text}}
                            </div>
                            <div class="col-sm-4">
                                <div *ngFor="let feat of review.feature_ratings">
                                    <div class="container align-content-left">
                                        <div class="row justify-content-left">
                                            <div class="col-sm-8 text-left">
                                                {{feat.name}}
                                            </div>
                                            <div class="col-sm-4 text-end">
                                                {{feat.rating}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>  
        </div>
    </div>  
</div>
</div>
</div>
</div>

